body {
  background-color: #F2D3B9;
    margin: 0;
    padding: 0;
    font: Georgia, serif;
}

#cabecalho {
    background-color: white;
}

#cabecalho ul {
  float: right;
  display: flex;
  list-style-type: none;
  padding: 15px;
}

#cabecalho a {
  text-decoration: none;
  color: black;
}

#cabecalho a :hover {
  text-decoration: underline;
  color: #FA3B3B;
  background-color: black;
}

#cabecalho ul li {
  box-sizing: border-box;
  border: 1px grey solid;
  background-color: #F2D3B9;
  padding: 25px;
}

#conteudo {
    background-color: #ECBE96;
    border: solid 1px grey;
    width: 80%;
    height:  auto;
    text-align: center;
    margin: 15px auto;
    padding: 15px;
}
  
#post1 h1 {
  text-align: center;
}

#post2 {
  background-color: #ECBE96;
  border: 1px solid grey;
  text-align: center;
  padding: 15px;
  margin: 50px;
}

.logo {
    width: 260px;
}

footer {
    background-color: white;
    text-align: center;
    padding: 20px;
    
   
}

footer a {
    padding: 6px;
}

  /* Comentario */
  
  .boxes {
    margin-bottom: 20px;
    width: 250px;
    font-size: 15px;
  }
  
  textarea {
    height: 100px;
  }
  
  h3 {
    padding-bottom: 30px;
    border-bottom: dotted;
  
  }
  
  #btn {
    width: 100px;
    background-color: #1FC7E2;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    font-size: 25px;
  }
  
  #btn:hover {
    cursor: pointer;
    background-color: #A4DAE8;
    transition: .3s;
  }
